@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Amiko|Fugaz+One');



body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../img/bg.png);
}

.sample {
  background-image: url(../img/bg.png);
}

.ButtonToolbar {
  display: grid;
  grid-template-columns: auto;
}

.main-container{
  margin-top: 60px;
  margin-left: 10px;
}

.navbar {
  font-family: 'Fugaz One', cursive;
  font-size: 2.5rem;
}


.summary, .countdown {
  padding-bottom: 10rem;
}

.history {
  background-color: rgba(211, 211, 211, .6);
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.historyNotLoggedIn {
  font-style: italic;
}

.pastWorkout {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 4rem;
  border-width: .5rem;
  border-color: black;
  border-style: solid;
  margin-bottom: 2rem;
  text-align: left;
  padding-left: 4rem;
}

.blackButton {
  background-color: #000000;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 2.5rem;
  font-family: Arial;
  color: #ffffff;
  font-size: 3rem;
  padding: 4rem 8rem;
  text-decoration: none;
  float: right;
  margin-top: 4.5rem;
}

.blackButtons:hover {
  background-color: #386994;
  text-decoration: none;
  float: right;
}

.dateAndTime {
    font-weight: bold;
    color: #386994;
}

.startButton {
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  box-shadow: 0px 0px 0.5px 1px #aaa, inset 0px 2px 2px 2px #fff;
  margin: auto;
}

.startButton:hover {
  background-image: url(../img/pizzagif.gif);
}

.startButton img {
  width: 100%;
  padding: 10%;
  margin-top: 3.5%;
  cursor: pointer;
}


.countdownCircle {
  background-image: url(../img/pizzagif.gif);
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  position: relative;
  box-shadow: 0px 0px 0.5px 1px #aaa, inset 0px 2px 2px 2px #fff;

}


.mainContent{
  margin-top: 1000px !important;

}

.countdownNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #000;
  font-size: 3em;
}


.timer {
  font-weight: bold;
  font-size: 40px;
  color: #000;
  display: inline-block;
 }

.timer:hover {
  background-image: url(../img/pizzagif.gif);
}

.warmupTitle, .workoutTitle, .cooldownTitle {
  color: gray;
  font-weight: bold;
  padding: 5px;
  margin: .5rem;
  text-align: center;
}

.activeTitle {
  color: black;
  background-color: rgba(211, 211, 211, .6);
}

.exerciseName {
  color: #3b8fb5;
  font-weight: bold;
  font-size: 5rem;
}

.exerciseImage {
  /*box-shadow: 10px 10px 5px grey;*/
  margin-bottom:30px;
}

.summaryStats {
  width: 85%;
  margin: auto;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 2rem;
  border-width: .25rem;
  border-color: black;
  border-style: solid;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: left;
  padding: 2rem;
}

.summaryCongrats {
  font-weight: bold;
  font-size: 45px;
  color: #3b8fb5;
  padding-bottom: 15px;
  display: inline-block;
}

.congratulations:hover {
  background-image: url(../img/pizzagif.gif);
}

.congratulations:hover {
  background-image: url(../img/pizzagif.gif);
}

.summaryTitle {
  color: #3b8fb5;
}

.summaryQuote {
  font-style: italic;
  font-size: 3rem;
  display: inline-block;
  padding: 2rem;
  margin-top: .5rem;
}

.alert {
  background: gray;
  color: white;
  padding: 5px;
}

.backToDashboardButton {
  background-color: #000000;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  vertical-align: center;
}

.backToDashboardButton :hover {
  background-color: #386994;
  text-decoration: none;

}

.summaryExercisesCompleted {
  font-weight: bold;
  font-size: 30px;
  color: #000;
}

.hide-alert {
  display: none;
}

.show-alert {
  background-color: pink;
  margin-bottom:5px;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #FF69B4;

}

.login-panel {
  background-color: #eee;
  margin-top: 150px;
}